.aside {
  width: 260px;
  height: 100%;
  position: fixed;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: #2e2d2c;
  &__logo {
    padding: 20px 15px;
    margin-bottom: 20px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 1.3em;
    font-weight: 300;
    &:after {
      right: 15px;
      width: calc(100% - 30px);
      bottom: 0;
      height: 1px;
      content: "";
      position: absolute;
      background-color: rgba(180, 180, 180, 0.3);
    }
  }
  &__version {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    font-size: .8em;
    font-weight: 300;
    color: rgba(180, 180, 180, 0.8);
  }
}
